        <!-- Footer -->
    <footer>
        <div class="row">
            <div class="col-lg-6">
                <p>Copyright &copy; x20x.co.uk</p>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
    </footer>

</div>
<!-- /.container -->

<!-- jQuery Version 1.11.0 -->
<script src="{{ site.baseurl }}/js/jquery-1.11.0.js"></script>
<!-- Bootstrap Core JavaScript -->
<script src="{{ site.baseurl }}/js/bootstrap.min.js"></script>

<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = 'x20xdevelopment';

    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function () {
        var s = document.createElement('script'); s.async = true;
        s.type = 'text/javascript';
        s.src = '//' + disqus_shortname + '.disqus.com/count.js';
        (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
    }());
</script>

</body>
</html>
