---
layout: default
comments: true
---
{% include header.html %}
<div class="row">

        <!-- Blog Entries Column -->
        <div class="col-md-8">
            <!-- First Blog Post -->
            <h2>
                {{ page.title }} 
            </h2>

            <div class="row">
                <p class="col-md-9"><span class="glyphicon glyphicon-time"></span> Posted on August 28, 2013 at 10:00 PM
                </p>
                <p class="col-md-3 text-right"><a href="#disqus_thread">0 Comments</a></p>
            </div>
	    {{ content }}

        {% include comments.html %}
        </div>

	{% include aside.html %}

    </div>
